.header {
    background-color: rgb(53,27,87);
    padding-bottom: 4%;
    padding-top: 0.2%;
  
}

.header-top{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 10ch;
    height: 10ch;
    margin: auto;
}

.header-top-l img{
    width: 2ch;
    height: 2ch;     
}

.header-top p{
    padding-left: 0.8cap;
    font-size: 1.5ch;
}


.header-top-l{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 30px;
}


.header-top-r img{
    width: 3ch;
    height: 3ch;
    margin-left: 2ch;
}

.header-top-r h3 {
    color: rgb(53,27,87);   
    background: white;
    padding-top: 0.01ch;
    padding-bottom: 0.01ch;
    padding-left: 0.5ch;
    padding-right: 0.5ch;
    border-radius: 2px;
    margin-left: -1ch;
    margin-top: 3.5ch;
    font-size: 100%;
}

.header-top-r p{
    margin-top: 0.1px;
}

.header-top-r {
    margin-right: 30px;
}

.carrinho{
    display: flex;
    align-items: center;
}